.AboutPage {
    font-size: 18px;
    height: 100vh;
    width: 100%;
    display: table;

    &-inner {
        display: table-cell;
        text-align: left;
        vertical-align: top;
        padding: 1em;
    }

    @include respond-to($desktop){
        background: url('../images/bigbryan-bg.png') bottom left no-repeat;
    }
}